.blogDetail {
    .img {
        position: relative;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h1 {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            color: white;

        }

    }

    .desc {
        background: white;
        padding: 20px;
        @media(max-width:767px){
            margin: 0 20px;
        }
        @media(min-width:768px){
            margin: 0 50px;    
        }
        

        h1 {
            font-size: 22px;
            font-weight: 600;
            color: #ef233c;

        }

        p {
            font-size: 15px;
            color: #2b2d42; white-space: pre-wrap;
        }

        .publisedDate {
            text-align: right;
            font-size: 14px;
            font-weight: 600;
            color: #2b2d42;
        }

    }

    
}
.shareButtonOnDetail {
    margin-top:30px !important;
    background: white;
    margin: 0 50px;
    ul{
        display:flex;
        align-items: center;
        justify-content: center;
        li{
            padding:0 10px;
            svg{
                width:40px;
            }
        }
    }
}